{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">Request a new code</h1>

<p class="govuk-body">Text messages sometimes take a few minutes to arrive. If you do not receive the text message, you can request a new one.</p>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Change where the text message is sent
    </span>
  </summary>
  <div class="govuk-details__text">
    <div class="govuk-form-group">
      <label class="govuk-label" for="mobile-number">
        Mobile phone number
      </label>
      <input class="govuk-input govuk-input--width-20" id="mobile-number" name="mobile-number" type="tel" value="07700 900000" autocomplete="tel">
    </div>

  </div>
</details>

<form class="form" action="sms_auth" method="post">
<button class="govuk-button" data-module="govuk-button">
  Request a new code
</button>
</form>

{% endblock %}
