{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

          <h1 class="govuk-heading-l">Are you sure you want to unsubscribe?</h1>


          <p>You will stop getting MOT reminders for Volkswagen Golf, BC12 BCD at <strong>07775 444333</strong>.</p>

          <p><a href="unsubscribe_success_sms" class="govuk-button">Continue</a></p>

      <p><a href="#"></a></p>


{% endblock %}
