{% extends "layout_mot_signout.html" %}

{% block pageTitle %}
Manage your MOT reminders - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

          <h1 class="govuk-heading-l">Are you sure you want to stop reminders?</h1>

          <p>07775 444333 will stop getting MOT reminders for Volkswagen Golf, BC12 BCD.</p>

        <div>
          {% from "govuk/components/button/macro.njk" import govukButton %}

          <div class="govuk-button-group">
            {{ govukButton({
              href: "manage-mobile-unsubscribed",
              text: "Stop reminders"
            }) }}

            <a class="govuk-link" href="javascript:window.history.back()">Cancel</a>
          </div>

        </div>

    </div>
  </div>

{% endblock %}
