{% extends "layout_mot.html" %}

{% block pageTitle %}
Manage your MOT reminders - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Answer
    </dt>
<dd class="govuk-summary-list__value">
  {{ data['route-decision'] }}
</dd>



{% endblock %}
